<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <title>Data From Server</title>
</head>
<body>
    <h1>Group Name: {{groupname}} </h1>
    <textarea name="" id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
        {{chat.content}}
        {% endfor %}
    </textarea>
    <input type="text" name="" id="chat-message-input" size="100"><br>
    <input type="button" name="" id="chat-message-submit" value="Send">
    {{groupname|json_script:"group-name"}}
 <script>
    // var ws = new WebSocket('ws://localhost:8000/ws/aswc/')
    // var ws = new WebSocket('ws://localhost:8000/ws/swc/')
    const groupName = JSON.parse(document.getElementById('group-name').textContent)
    console.log(groupName)
    var ws = new WebSocket(
     'ws://'
     + window.location.host
     + '/ws/aswc/' 
     + groupName
     + '/')
    ws.onopen = function(){
        console.log("Websocket connection open...")
    }
    ws.onmessage = function(event){
        console.log("Message recieved form server..",event)
        console.log("Message recieved form server..",event.data)
        // converting string data to JSON object(event.data is string)
        const data = JSON.parse(event.data)
        console.log("Message ...",data.msg)
        document.querySelector('#chat-log').value += (data.msg + '\n')
    }

    ws.onclose = function(){
        console.log("Websocket connection close...")
    }
     document.getElementById("chat-message-submit").onclick = 
     function (event) {
        const messageInputDom = document.getElementById
        ("chat-message-input")
        const message = messageInputDom.value
        ws.send(JSON.stringify({
            'msg':message
        }))
        messageInputDom.value = ''
     }
 </script>   
</body>
</html>