<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Group Name: {{groupname}}</h1>
    <textarea name="" id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
            {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input type="text" name="" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        console.log("Group Name: ", groupName)
       // var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        var ws = new WebSocket(
            'ws://' 
            + window.location.host 
            + '/ws/sc/' 
            + groupName 
            + '/')
        // using properties
        ws.onopen = function () {
            console.log("WebSocket Connection Open...")
            // ws.send('Hi,Message from client...')
        }
        ws.onmessage = function (event) {
            console.log("WebSocket Got Message event...",event)
            console.log("WebSocket Got Message from server...",event.data)
            console.log("Type of Message from server...",typeof(event.data))//string
            const parsed_data = JSON.parse(event.data)// string to js object conversion
            console.log("Type of parsed data: ",typeof(parsed_data))
            console.log("Actual data: ",parsed_data.msg)// extracted message from parsed data
            document.querySelector('#chat-log').value += (parsed_data.msg + '\n')

        }
        ws.onerror = function (event) {
            console.log("WebSocket error ouccurred...",event)
        }
        ws.onclose = function (event) {
            console.log("WebSocket connection closed...",event)
        };
        document.getElementById('chat-message-submit').onclick = function(event){
            const messageInputDom = document.getElementById('chat-message-input')
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg':message // sending this message to server
            }))
            messageInputDom.value = ''
        }

    </script>
</body>
</html>