<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <title>Data From Server</title>
</head>
<body>
    <h1>Chat App</h1>
    <h2>Group Name: {{groupname}}</h2>
    <textarea name="" id="chat-log" cols="100" rows="20">   
    </textarea>
    <input type="text" name="" id="chat-message-input" size="100"><br>
    <input type="button" name="" id="chat-message-submit" value="Send">
    {{ groupname|json_script:"group-name"}}
 <script>
    const groupName = JSON.parse(document.getElementById("group-name").textContent)
    console.log("Group Name: ",groupName)   
    var ws = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/jwc/'
        + groupName
        + '/'
    )
    ws.onopen = function (){
        console.log("Connection Open...")
    }
    ws.onmessage = function(event){
        console.log("Message received from server...",event)
        const data = JSON.parse(event.data)
        console.log("Data...",data)
        // this message is visible to all group members
        document.querySelector('#chat-log').value += (data.message + '\n')
    }
    ws.onclose = function (event){
        console.error("Chat scoket closed unexpecetedly")
    }
    document.getElementById("chat-message-submit").onclick = 
    function(event){
        const messageInputDom = document.getElementById("chat-message-input")
        const message = messageInputDom.value
        ws.send(JSON.stringify({
            'msg':message
        }))
        messageInputDom.value = ""
    }
   
 </script>   
</body>
</html>