<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Count Page</h1>
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')
        // using event listener
       ws.addEventListener('open',()=>{
        console.log("WebSocket Connection Open...")
        ws.send('Hi,Message from client...')
       })
       ws.addEventListener('message',(event)=>{
        console.log("WebSocket Got Message from server...",event)
       })
       ws.addEventListener('error',(event)=>{
        console.log("WebSocket error ouccurred...",event)
       })
       ws.addEventListener('close',(event)=>{
        console.log("WebSocket connection closed...",event)
       })
    </script>
</body>
</html>